/*:host {*/
/*  display: inline;*/
/*  background: yellow;*/
/*}*/

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  vertical-align: center;
}

svg {
  height: 20px;
  width: 20px;
  margin-bottom: -5px;
}


.flex-content {
  flex: 1;
  border: 1px solid blue;
  border-radius: 6px;
  background-color: aqua;
  box-shadow: 1px 1px blue;
}

/*.flex-content:hover {*/
/*  flex:3;*/
/*  border: 1px solid darkblue;*/
/*  box-shadow: 2px 2px darkblue;*/
/*}*/

.tag-content{
  border: 1px solid gray;
  border-radius: 6px;
  background-color: lightgray;
  box-shadow: 1px 1px gray;
  color: black;
  text-shadow: 1px 1px 3px black;
  margin: 0px 2px 0px 2px;
  padding: 2px 2px 2px 2px;
}

.quelle{
  margin-left: 5px;
}

#pagenum {
  flex: 14;
  border: 1px solid blue;
  border-radius: 6px;
  background-color: beige;
  box-shadow: 1px 1px blue;
  padding-left: 5px;
  text-align: left;
  text-shadow: 1px 1px 5px darkblue;
}

.hr-oben {
  margin: 3px 0px 0px 1px;
}

.hr-unten {
  margin: 3px 0px 0px 1px;
}

button:disabled {
  background-color: lightgray;
}
