/*:host {*/
/*  display: inline;*/
/*  background: yellow;*/
/*}*/

.flex-container {
  display: flex;
  text-align: center;
  vertical-align: center;
}

svg {
  height: 20px;
  width: 20px;
  margin-bottom: -5px;
}


.flex-content {
  flex: 1;
  border: 1px solid blue;
  border-radius: 6px;
  background-color: aqua;
  box-shadow: 1px 1px blue;
}

.flex-content:hover {
  flex:3;
  border: 1px solid darkblue;
  box-shadow: 2px 2px darkblue;
}

#tags {
  flex: 14;
  border: 1px solid blue;
  border-radius: 6px;
  background-color: beige;
  box-shadow: 1px 1px blue;
  text-shadow: 1px 1px 5px darkblue;
}
