:root {
  --base-font-size: 16;
}

@media all {
  html {
    background-color: paleturquoise;
    color: #00f
  }

  body, div, li, ol, p, table, td, th, ul {
    padding: 0;
    margin: 0
  }

  body, footer, header, main {
    display: block
  }

  .title {
    font-size: calc((24/var(--base-font-size))*1em);
  }
}

@media all {
  .slides > ul {
    margin: 0 10px;
    padding: 5px 10px
  }
}
